.movie {
  /* background-color: red; */

  display: flex;
  justify-content: left;
  flex-wrap: wrap;
}

.item {
  display: flex;
  flex-wrap: nowrap;
  width: 450px;
  height: 370px;
  padding: 20px;
  margin-bottom: 20px;
  background-color: bisque;
  border-style: solid;
  /* border-style: double; */
}
